@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --dark-olive-green: #606c38ff;
  --kombu-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --earth-yellow-press: rgb(255, 136, 0);
  --liver-dogs: #bc6c25ff;
  --red: rgb(217, 4, 41);
  --red-press: rgb(197, 4, 21);
  --light-red: #ff9b85;
  --green: #60d394;

  font-family: "Open Sans", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  border-radius: 8px;
}

.btn:hover {
  box-shadow: 1px 0px 5px 0px #00000075;
}

body {
  display: grid;
  grid-template-rows: auto 100vh;
}

header {
  background-color: var(--dark-olive-green);
  color: var(--cornsilk);
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
}

.header.logo {
  padding: 16px;
  font-size: 36px;
}

#searchForm > div {
  background-color: var(--cornsilk);
  border-radius: 8px;
}

#search {
  flex: 1;
  height: 40px;
  width: min(40vw, 400px);
  border-radius: 8px;
  border: none;
  background-color: var(--cornsilk);
}

.btn.search {
  height: 40px;
  width: 40px;
  background-color: var(--earth-yellow);
  border: none;
  border-radius: 4px;
}
.btn.search:hover {
  color: white;
  background-color: var(--earth-yellow-press);
}

.header.user > i {
  padding: 8px;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background: rgb(96, 108, 56);
  background: linear-gradient(
    180deg,
    rgba(96, 108, 56, 1) 0%,
    rgba(40, 54, 24, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.sidebar {
  background-color: var(--dark-olive-green);
}

.book-display {
  background-color: var(--kombu-green);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 20vw));
  grid-template-rows: repeat(auto-fill, 282px);
}

.book {
  background-color: var(--cornsilk);
  height: 250px;
  margin: 16px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 8px;
}

.title {
  background-color: var(--earth-yellow);
  grid-area: 1 / 1 / 2 / 3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px;
  font-size: 1.5rem;
}

.btn.remove {
  background-color: var(--red);
  grid-area: 1 / 2 / 2 / 3;
  margin: 8px;
}

.btn.remove:hover {
  background-color: var(--red-press);
}

.author,
.year {
  padding: 16px;
}

.author {
  grid-area: 2 / 1 / 3 / 3;
}

.year {
  grid-area: 3 / 1 / 4 / 3;
}

.btn.boolRead {
  background-color: var(--green);
  min-width: 50px;
  min-height: 50px;
  border-radius: 8px;
  grid-area: 4 / 2 / 5 / 2;
  border: none;
  margin: 8px;
  font-size: 1.5rem;
}

.btn.boolRead:hover {
  border: solid 1px black;
  font-size: 1.75rem;
}

.addBook {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
}

.addBook > form {
  position: relative;
  background-color: var(--cornsilk);
  padding: 100px;
}

.addBook > form > ul {
  list-style-type: none;
}

.btn.cancelForm {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 36px;
  width: 36px;
  background-color: var(--red);
}
